<div class="md:flex items-start justify-center py-12 2xl:px-20 md:px-6 px-4">

  <div class="xl:w-2/6 lg:w-2/5 w-80 md:block hidden">
    <%= image_tag book.cover_image, class: "w-full h-64 object-scale-down" %>
  </div>
  <div class="md:hidden">
    <%= image_tag book.cover_image, class: "w-full h-64 object-scale-down" %>
  </div>
  <div class="w-full md:w-1/2 lg:ml-8 md:ml-6 md:mt-0 mt-6">
    <div class="border-b border-gray-200 pb-6">
      <h1 class="lg:text-2xl text-xl font-semibold lg:leading-6 leading-7 text-gray-800 dark:text-white mt-2"><%= book.title %></h1>
    </div>
    <div class="py-4 border-b border-gray-200 flex items-center justify-between">
      <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Author:</p>
      <%= book.author %>
    </div>
    <div class="py-4 border-b border-gray-200 flex items-center justify-between">
      <p class="text-base leading-4 text-gray-800 dark:text-gray-300">ISBN Number:</p>
      <%= book.isbn_number %>
    </div>
    <div class="py-4 border-b border-gray-200 flex items-center justify-between">
      <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Genre:</p>
      <%= book.genre.genre %>
    </div>
    <div class="py-4 border-b border-gray-200 flex items-center justify-between">
      <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Publisher:</p>
      <%= book.publisher %>
    </div>
    <div class="py-4 border-b border-gray-200 flex items-center justify-between">
      <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Publsihed Date:</p>
      <%= book.publish_date %>
    </div>
    <div class="py-4 border-b border-gray-200 flex flex-col items-start gap-4 justify-between">
      <p class="text-base leading-4 text-gray-800 dark:text-gray-300">Description:</p>
      <%= book.detailed_description %>
    </div>
  </div>
</div>