<div  id="<%= dom_id review %>" class="w-full mx-auto bg-white rounded-lg overflow-hidden shadow-lg p-8 gap-4 my-2">
  <div class="flex justify-end">
    <% if  current_user && current_user.email == review.reviewer.email %>
      <%= link_to edit_book_review_path(review), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium",
      data: {
        controller: "reviews",
        action: "reviews#toggleForm",
        reviews_form_param: "edit-form-#{review.id}",
        reviews_body_param: "review-body-#{review.id}",
      } do %>
        Edit <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= link_to book_review_path(review), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium", data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } do %>
        Delete <i class="fa-solid fa-trash"></i>
      <% end %>
    <% end %>
  </div>
  <div id="edit-form-<%= review.id %>" class="hidden">
    <%= render partial: 'reviews/form', locals: { book: @book, review: review, label: "Edit review", btn_label: "Update"} %>
  </div>
  <div id="review-body-<%= review.id %>" class="max-w-lg px-8 rounded-md">
    <div class="space-y-1">
      <p class="text-xl font-medium leading-5 text-gray-900">
        <%= review.body %>
      </p>
    </div>
    <div class="mt-6 flex items-center space-x-2">
      <span class="text-sm font-semibold leading-5 text-gray-600"><%= review.reviewer.email %></span>
    </div>
    <% if (review.updated_at - review.created_at) > 1 %>
      <span class="mt-2 text-sm font-medium leading-5 text-gray-500">Edited <%= time_ago_in_words(review.updated_at) %> ago</span>
    <% else %>
      <span class="mt-2 text-sm font-medium leading-5 text-gray-500">Posted <%= time_ago_in_words(review.created_at) %> ago</span>
    <% end %>
  </div>
    
</div>
